package configs

import (
	"flag"
	"fmt"

	"github.com/spf13/viper"
)

const (
	fileType = "yaml"
)

var (
	C        = new(Config)
	filePath = flag.String("file", "configs/config.yaml", "config file path (yaml)")
)

type Config struct {
	App AppConfig
}

type AppConfig struct {
	BaseRoute string
	Port      int
	RunMode   string
	Name      string
}

func InitConfigs() {
	flag.Parse()
	fromFile()
	fmt.Printf("C.App = %+v\n", C.App)
}

func fromFile() {
	viper.SetConfigType(fileType)
	viper.SetConfigFile(*filePath)
	err := viper.ReadInConfig()
	if err != nil {
		panic("Read configs error，reason：" + err.Error())
	}

	err = viper.Unmarshal(&C)
	if err != nil {
		panic("Unmarshal error: " + err.Error())
	}
}
