package configs

import (
	"flag"
	"log"

	"github.com/spf13/viper"
)

const (
	fileType = "yaml"
)

var (
	C        = new(Config)
	filePath = flag.String("file", "", "config file path (yaml)")
)

type Config struct {
	App AppConfig
}

func InitConfigs() {
	log.Println("Config init")
	registerFlags()

	if *filePath != "" {
		fromFile()
	}
}

func registerFlags() {
	appFlags()
	flag.Parse()
}

func fromFile() {
	viper.SetConfigType(fileType)
	viper.SetConfigFile(*filePath)
	err := viper.ReadInConfig()
	if err != nil {
		log.Panic("Read configs error，reason：" + err.Error())
	}

	err = viper.Unmarshal(&C)
	if err != nil {
		log.Panic("Unmarshal error: " + err.Error())
	}
}
